<div id="footer">Last updated at <TMPL_VAR NAME=TIMESTAMP>.<hr><div id="fineprint"><p>&copy; 2014 DUCK - <a href="faq.html#contact" rel="nofollow">Contact / Send Feedback</a></p>
Source code is <a href="https://salsa.debian.org/debian/duck">available</a>. Please report bugs against the <a href="http://bugs.debian.org/duck">duck</a> package. 

<div style="float:right;font-size:0.8em;">System hosted at Graz University of Technology</div></div></div> <!-- end footer -->
</body>
</html>